@page "{id:guid?}"
@model VPureLux.Web.Pages.Catalog.Components.EditModalModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<VPureLux.Localization.VPureLuxResource> L
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@{
    Layout = null;
}

<form method="post" asp-page="/Catalog/Components/EditModal">
    <input type="hidden" asp-for="Id" />
    <abp-modal>
        <abp-modal-header title="@L["Edit"]"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Code" disabled="true" />
            <abp-input asp-for="Input.Name" />
            <abp-input asp-for="Input.Description" />
            <abp-input asp-for="Input.Unit" />
            <p class="text-muted mb-0">@L["Catalog:ImageManagedOnFullPage"]</p>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
