@page "/faq"
@using Microsoft.AspNetCore.Mvc.Localization
@using VPureLux.Localization
@inject IHtmlLocalizer<VPureLuxResource> L

<div class="row">
    <div class="col d-flex align-items-baseline">
        <h1 class="lpx-main-title">FAQ</h1>
        <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true"
            title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "></i>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Frequently Asked Questions </h2>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="card-body">

        <div class="accordion" id="accordionExample">
            <div class="accordion-item mb-2 rounded overflow-hidden">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <strong> Nullam eget felis eget nunc lobortis mattis?</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Ullamcorper malesuada proin libero nunc consequat. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Placerat orci nulla pellentesque dignissim. Sagittis eu volutpat odio facilisis. Quisque egestas diam in arcu. Facilisis magna etiam tempor orci eu lobortis elementum nibh tellus. Interdum posuere lorem ipsum dolor sit amet. Nam libero justo laoreet sit amet cursus. Eget duis at tellus at urna. Ultrices sagittis orci a scelerisque purus semper. Quis auctor elit sed vulputate. Suspendisse interdum consectetur libero id faucibus nisl. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Quis auctor elit sed vulputate mi sit amet mauris commodo. Dolor sit amet consectetur adipiscing elit ut. Eget nulla facilisi etiam dignissim. Porta nibh venenatis cras sed felis eget velit aliquet. Vivamus at augue eget arcu dictum varius duis at consectetur. Sagittis eu volutpat odio facilisis mauris sit amet massa. Turpis tincidunt id aliquet risus.
                    </div>
                </div>
            </div>
            <div class="accordion-item mb-2 overflow-hidden rounded" style="border: 2px solid rgba(50, 81, 104, 0.075);">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong>Cras fermentum odio eu feugiat pretium fermentum et sollicitudin ac orci phasellus?</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Ullamcorper malesuada proin libero nunc consequat. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Placerat orci nulla pellentesque dignissim. Sagittis eu volutpat odio facilisis. Quisque egestas diam in arcu. Facilisis magna etiam tempor orci eu lobortis elementum nibh tellus. Interdum posuere lorem ipsum dolor sit amet. Nam libero justo laoreet sit amet cursus. Eget duis at tellus at urna. Ultrices sagittis orci a scelerisque purus semper. Quis auctor elit sed vulputate. Suspendisse interdum consectetur libero id faucibus nisl. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Quis auctor elit sed vulputate mi sit amet mauris commodo. Dolor sit amet consectetur adipiscing elit ut. Eget nulla facilisi etiam dignissim. Porta nibh venenatis cras sed felis eget velit aliquet. Vivamus at augue eget arcu dictum varius duis at consectetur. Sagittis eu volutpat odio facilisis mauris sit amet massa. Turpis tincidunt id aliquet risus.
                    </div>
                </div>
            </div>
            <div class="accordion-item mb-2  overflow-hidden rounded" style="border: 2px solid rgba(50, 81, 104, 0.075);">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>Id donec ultrices tincidunt arcu non sodales neque?</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Ullamcorper malesuada proin libero nunc consequat. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Placerat orci nulla pellentesque dignissim. Sagittis eu volutpat odio facilisis. Quisque egestas diam in arcu. Facilisis magna etiam tempor orci eu lobortis elementum nibh tellus. Interdum posuere lorem ipsum dolor sit amet. Nam libero justo laoreet sit amet cursus. Eget duis at tellus at urna. Ultrices sagittis orci a scelerisque purus semper. Quis auctor elit sed vulputate. Suspendisse interdum consectetur libero id faucibus nisl. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Quis auctor elit sed vulputate mi sit amet mauris commodo. Dolor sit amet consectetur adipiscing elit ut. Eget nulla facilisi etiam dignissim. Porta nibh venenatis cras sed felis eget velit aliquet. Vivamus at augue eget arcu dictum varius duis at consectetur. Sagittis eu volutpat odio facilisis mauris sit amet massa. Turpis tincidunt id aliquet risus.
                    </div>
                </div>
            </div>
            <div class="accordion-item mb-2  overflow-hidden rounded" style="border: 2px solid rgba(50, 81, 104, 0.075);">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour " aria-expanded="false" aria-controls="collapseFour">
                            <strong>Scelerisque viverra mauris in aliquam sem fringilla?</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Ullamcorper malesuada proin libero nunc consequat. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Placerat orci nulla pellentesque dignissim. Sagittis eu volutpat odio facilisis. Quisque egestas diam in arcu. Facilisis magna etiam tempor orci eu lobortis elementum nibh tellus. Interdum posuere lorem ipsum dolor sit amet. Nam libero justo laoreet sit amet cursus. Eget duis at tellus at urna. Ultrices sagittis orci a scelerisque purus semper. Quis auctor elit sed vulputate. Suspendisse interdum consectetur libero id faucibus nisl. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Quis auctor elit sed vulputate mi sit amet mauris commodo. Dolor sit amet consectetur adipiscing elit ut. Eget nulla facilisi etiam dignissim. Porta nibh venenatis cras sed felis eget velit aliquet. Vivamus at augue eget arcu dictum varius duis at consectetur. Sagittis eu volutpat odio facilisis mauris sit amet massa. Turpis tincidunt id aliquet risus.
                    </div>
                </div>
            </div>
            <div class="accordion-item mb-2  overflow-hidden rounded" style="border: 2px solid rgba(50, 81, 104, 0.075);">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive " aria-expanded="false" aria-controls="collapseFive">
                            <strong>Neque gravida in fermentum et sollicitudin ac orci phasellus egestas?</strong>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Ullamcorper malesuada proin libero nunc consequat. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Placerat orci nulla pellentesque dignissim. Sagittis eu volutpat odio facilisis. Quisque egestas diam in arcu. Facilisis magna etiam tempor orci eu lobortis elementum nibh tellus. Interdum posuere lorem ipsum dolor sit amet. Nam libero justo laoreet sit amet cursus. Eget duis at tellus at urna. Ultrices sagittis orci a scelerisque purus semper. Quis auctor elit sed vulputate. Suspendisse interdum consectetur libero id faucibus nisl. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Quis auctor elit sed vulputate mi sit amet mauris commodo. Dolor sit amet consectetur adipiscing elit ut. Eget nulla facilisi etiam dignissim. Porta nibh venenatis cras sed felis eget velit aliquet. Vivamus at augue eget arcu dictum varius duis at consectetur. Sagittis eu volutpat odio facilisis mauris sit amet massa. Turpis tincidunt id aliquet risus.
                    </div>
                </div>
            </div>
            <div class="accordion-item mb-2  overflow-hidden rounded" style="border: 2px solid rgba(50, 81, 104, 0.075);">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <strong>Eu feugiat pretium nibh ipsum consequat. Integer vitae justo eget magna fermentum iaculis eu?</strong>
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Ullamcorper malesuada proin libero nunc consequat. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Placerat orci nulla pellentesque dignissim. Sagittis eu volutpat odio facilisis. Quisque egestas diam in arcu. Facilisis magna etiam tempor orci eu lobortis elementum nibh tellus. Interdum posuere lorem ipsum dolor sit amet. Nam libero justo laoreet sit amet cursus. Eget duis at tellus at urna. Ultrices sagittis orci a scelerisque purus semper. Quis auctor elit sed vulputate. Suspendisse interdum consectetur libero id faucibus nisl. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Quis auctor elit sed vulputate mi sit amet mauris commodo. Dolor sit amet consectetur adipiscing elit ut. Eget nulla facilisi etiam dignissim. Porta nibh venenatis cras sed felis eget velit aliquet. Vivamus at augue eget arcu dictum varius duis at consectetur. Sagittis eu volutpat odio facilisis mauris sit amet massa. Turpis tincidunt id aliquet risus.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>